---
layout: default
title: Research
---

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
  <tr>
    <td style="padding:16px 16px 8px;">
      <h2>Publications</h2>
      <p style="color:#555;font-size:13px;margin-top:4px;">Click any paper for details.</p>
    </td>
  </tr>
  <tr>
    <td style="padding:0 8px 16px;">
      {% for pub in site.data.publications %}
        {% include paper-tile.html pub=pub %}
      {% endfor %}
    </td>
  </tr>
</tbody></table>
