<a class="paper-tile" href="/papers/{{ include.pub.id }}/">
  <div class="paper-tile-title">{{ include.pub.title }}</div>
  <div class="paper-tile-authors">
    {% for author in include.pub.authors %}
      {% if author contains "Greenhalgh" %}<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </div>
  <div class="paper-tile-venue">
    <em>{{ include.pub.venue }}</em>, {{ include.pub.year }}
    {% if include.pub.doi != "" %}
      &nbsp;&bull;&nbsp;DOI: {{ include.pub.doi }}
    {% endif %}
  </div>
</a>
