<div class="paper-tile">
  <div class="paper-tile-title">
    <a href="/papers/{{ include.pub.id }}/">{{ include.pub.title }}</a>
  </div>
  <div class="paper-tile-authors">
    {% for author in include.pub.authors %}
      {% if author contains "Greenhalgh" %}<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </div>
  <div class="paper-tile-venue">
    <em>{{ include.pub.venue }}</em>, {{ include.pub.year }}
    {% if include.pub.doi != "" %}
      &nbsp;&bull;&nbsp;
      <a href="https://doi.org/{{ include.pub.doi }}">DOI</a>
    {% endif %}
  </div>
</div>
