<div class="cv-entry">
  <div class="cv-left-date">{{ include.pub.year }}</div>
  <div class="cv-right-content">
    <div class="cv-pub-title">&ldquo;{{ include.pub.title }}&rdquo;</div>
    <div class="cv-pub-authors">{{ include.pub.authors | join: ", " }}</div>
    <div class="cv-pub-venue">
      <em>{{ include.pub.venue }}</em>, {{ include.pub.details }}.
      {% if include.pub.doi != "" %}
        <a href="https://doi.org/{{ include.pub.doi }}">doi:{{ include.pub.doi }}</a>
      {% endif %}
    </div>
  </div>
</div>
